@font-face {
  font-family: "Playfair Display";
  src: url("font-practice/playfair-display/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot");
  src: url("font-practice/playfair-display/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("font-practice/playfair-display/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff2")
      format("woff2"),
    url("font-practice/playfair-display/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff")
      format("woff"),
    url("font-practice/playfair-display/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf")
      format("truetype"),
    url("font-practice/playfair-display/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("font-practice/playfair-display/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.eot");
  src: url("font-practice/playfair-display/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font-practice/playfair-display/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.woff2")
      format("woff2"),
    url("font-practice/playfair-display/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.woff")
      format("woff"),
    url("font-practice/playfair-display/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.ttf")
      format("truetype"),
    url("font-practice/playfair-display/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("font-practice/playfair-display/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot");
  src: url("font-practice/playfair-display/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("font-practice/playfair-display/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff2")
      format("woff2"),
    url("font-practice/playfair-display/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff")
      format("woff"),
    url("font-practice/playfair-display/PlayfairDisplay-Regular/PlayfairDisplay-Regular.ttf")
      format("truetype"),
    url("font-practice/playfair-display/PlayfairDisplay-Regular/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("font-practice/playfair-display/PlayfairDisplay-Italic/PlayfairDisplay-Italic.eot");
  src: url("font-practice/playfair-display/PlayfairDisplay-Italic/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("font-practice/playfair-display/PlayfairDisplay-Italic/PlayfairDisplay-Italic.woff2")
      format("woff2"),
    url("font-practice/playfair-display/PlayfairDisplay-Italic/PlayfairDisplay-Italic.woff")
      format("woff"),
    url("font-practice/playfair-display/PlayfairDisplay-Italic/PlayfairDisplay-Italic.ttf")
      format("truetype"),
    url("font-practice/playfair-display/PlayfairDisplay-Italic/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("font-practice/Raleway/Raleway-Light/Raleway-Light.eot");
  src: url("font-practice/Raleway/Raleway-Light/Raleway-Light.eot?#iefix")
      format("embedded-opentype"),
    url("font-practice/Raleway/Raleway-Light/Raleway-Light.woff2")
      format("woff2"),
    url("font-practice/Raleway/Raleway-Light/Raleway-Light.woff") format("woff"),
    url("font-practice/Raleway/Raleway-Light/Raleway-Light.ttf")
      format("truetype"),
    url("font-practice/Raleway/Raleway-Light/Raleway-Light.svg#Raleway-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("font-practice/Raleway/Raleway-LightItalic/Raleway-LightItalic.eot");
  src: url("font-practice/Raleway/Raleway-LightItalic/Raleway-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font-practice/Raleway/Raleway-LightItalic/Raleway-LightItalic.woff2")
      format("woff2"),
    url("font-practice/Raleway/Raleway-LightItalic/Raleway-LightItalic.woff")
      format("woff"),
    url("font-practice/Raleway/Raleway-LightItalic/Raleway-LightItalic.ttf")
      format("truetype"),
    url("font-practice/Raleway/Raleway-LightItalic/Raleway-LightItalic.svg#Raleway-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("font-practice/Raleway/Raleway-Medium/Raleway-Medium.eot");
  src: url("font-practice/Raleway/Raleway-Medium/Raleway-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("font-practice/Raleway/Raleway-Medium/Raleway-Medium.woff2")
      format("woff2"),
    url("font-practice/Raleway/Raleway-Medium/Raleway-Medium.woff")
      format("woff"),
    url("font-practice/Raleway/Raleway-Medium/Raleway-Medium.ttf")
      format("truetype"),
    url("font-practice/Raleway/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("font-practice/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.eot");
  src: url("font-practice/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font-practice/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.woff2")
      format("woff2"),
    url("font-practice/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.woff")
      format("woff"),
    url("font-practice/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.ttf")
      format("truetype"),
    url("font-practice/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.svg#Raleway-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  color: #2d2d2d;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 480px;
  padding: 0 2%;
  margin: 0 auto;
  width: 100%;
}

header .container {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  flex-wrap: wrap;
}

.logo {
  flex: 0 1 50%;
  align-self: flex-start;
}

.logo img {
  width: 120px;
}

.cart {
  flex: 0 1 50%;
  align-self: flex-end;
  cursor: pointer;
  text-align: right;
  height: 59px;
}

.cart img {
  width: 50px;
}

.navigation {
  flex: 1 0 auto;
  align-self: center;
}

.navigation ul {
  border-top: 1px solid #d7d7d7;
  padding-top: 0.5rem;
  text-align: center;
  padding-inline-start: 0px;
}

.navigation li {
  display: inline-block;
  margin: 0 1rem;
  padding-bottom: 6px;
  padding-top: 6px;
  align-self: center;
}

.navigation li a {
  text-decoration: none;
  color: #e2574c;
}

.navigation li a:visited {
  color: #e2574c;
}

.navigation li a:hover {
  color: #b64036;
}

.main-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25)),
    url("images/banner-girl.png") no-repeat center 60px,
    url("images/flower-bkgd.jpg") repeat-x top;
  background-size: cover, 150px 369px, cover;
  height: 400px;
  display: flex;
  align-items: center;
}

.banner-text {
  text-align: center;
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
}

.new-collection {
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  padding-top: 10px;
}

.collection-year {
  color: #ffffff;
  font-family: Playfair Display;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 7px;
}

.title {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

span.bold {
  font-style: normal;
  font-weight: 700;
  font-family: Playfair Display;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.title h2 {
  font-family: Playfair Display;
  font-size: 2.4rem;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 1.5rem;
  height: 36px;
}

.title p {
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 2.3rem;
}

#shop {
  padding: 0;
}

.product-types {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.mens {
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/mens-category.jpg) no-repeat 50%;
  background-size: cover;
  flex: 2 0 100%;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  width: 100%;
  height: 246.5px;
  align-items: center;
  justify-content: center;
}

.trends {
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/trends-category.jpg) no-repeat 50%;
  background-size: cover;
  flex: 1 0 50%;
  max-width: 50%;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  height: 242.5px;
  align-items: center;
  justify-content: center;
}

.glasses {
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/glasses-category.jpg) no-repeat 50%;
  background-size: cover;
  flex: 1 0 50%;
  max-width: 50%;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  height: 242.5px;
  align-items: center;
  justify-content: center;
}

.sale {
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/sale-category.jpg) no-repeat 50%;
  background-size: cover;
  flex: 1 0 50%;
  max-width: 50%;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  height: 242.5px;
  align-items: center;
  justify-content: center;
}

.bags {
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/bags-category.jpg) no-repeat 50%;
  background-size: cover;
  flex: 1 0 50%;
  max-width: 50%;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  height: 242.5px;
  align-items: center;
  justify-content: center;
}

.womens {
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/womens-category.jpg) no-repeat 50%;
  background-size: cover;
  flex: 2 0 100%;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  height: 246.5px;
  align-items: center;
  justify-content: center;
}

.product-type-word {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
}

.product-type-word a {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
  text-transform: uppercase;
}

.product-type-word a:hover {
  color: #ffffcc;
}

#featured {
  padding: 4rem 0;
}

.title.featured {
  padding: 0;
}

.main-carousel .carousel-cell {
  width: 100%;
}

.clothing-type {
  font-size: .75rem;
  margin-bottom: .75rem;
  color: #969696;
  font-weight: 700; 
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #e2574c;
  line-height: 1;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.price {
  color: #969696;
  font-weight: 700;
  text-align: center;
}

.subscribe {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0,
      rgba(0, 0, 0, 0.15)
    ),
    url(images/wave-bkgd.jpg) no-repeat bottom;
  margin-bottom: 8px;
  padding: 4rem 0;
}

.subscribe .title {
  padding: 0;
}

.sign-up h2,
.sign-up p,
.sign-up h2 span.bold {
  color: #ffffff;
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
}

.form {
  display: block;
  margin: 2rem auto 0;
  position: relative;
  width: 86%;
}

input[type="email"] {
  padding: 0.5rem 1.75rem;
  padding-right: 150px;
  width: 100%;
  border: 0;
  border-radius: 25px;
  line-height: 2;
  font-weight: 300;
}

input[type="submit"] {
  background-color: #e2574c;
  color: #ffffff;
  padding: 0.25rem 1.5rem;
  right: 0.25rem;
  top: 0.25rem;
  position: absolute;
  border: 0;
  border-radius: 25px;
  line-height: 2;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b64036;
}

footer.footer {
  background-color: #242424;
  padding: 4rem 0;
  text-align: center;
}

.contact {
  line-height: 1.5;
}

.phone,
.copyright {
  margin-bottom: 1rem;
}

.phone p,
.copyright p,
.phone p a,
.address p {
  color: #ffffff;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
}

.phone p a:hover {
  color: #b64036;
}

.address p {
  color: #969696;
}

.social {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}

.social li {
  display: inline-block;
  height: 28px;
  width: 25px;
  padding-top: 7px;
}

.social a {
  text-decoration: none;
}

.social a i {
  color: #ffffff;
}

.social a i:hover {
  color: #b64036;
}

.social-name {
  display: none;
  color: #ffffff;
}

@media screen and (min-width: 600px) {
  * {
    font-size: 16px;
  }

  .container {
    max-width: 1239px;
    margin: auto;
  }

  header .container {
    flex-wrap: nowrap;
  }

  .logo {
    order: 1;
    flex-basis: 20%;
  }

  .cart {
    order: 3;
    flex-basis: 20%;
    width: 48px;
  }

  .navigation {
    flex-basis: 60%;
    order: 2;
  }

  .navigation ul {
    border-top: none;
    padding-top: 0;
  }

  .navigation li {
    margin: 0 0.5rem;
  }

  .navigation li a {
    font-size: 0.9rem;
  }

  .collection-year {
    font-size: 3rem;
  }

  .mens {
    border-right: 4px solid #ffffff;
    flex-basis: 50%;
    height: 150px;
  }

  .trends {
    border-left: 4px solid #ffffff;
    flex-basis: 25%;
    height: 150px;
  }

  .glasses {
    border-right: 0;
    flex-basis: 25%;
    height: 150px;
  }

  .sale {
    flex-basis: 25%;
    height: 150px;
  }

  .bags {
    border-right: 4px solid #ffffff;
    flex-basis: 25%;
    height: 150px;
  }

  .womens {
    border-left: 4px solid #ffffff;
    flex-basis: 50%;
    height: 150px;
  }

  .product-type-word a {
    font-size: 1.8rem;
  }

  .main-carousel .carousel-cell {
    width: 50%;
  }

  .form {
    width: 67%;
  }

  footer.footer {
    text-align: left;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
  }

  .social {
    margin-top: 0;
    padding-right: 2rem;
  }

  .social li {
    display: block;
    width: 110px;
    height: 32px;
  }

  .social i {
    min-width: 25px;
  }

  .social-name {
    display: inline;
  }

@media screen and (min-width: 1240px) {
  .container {
    margin: auto;
    max-width: 1600px;
  }

  .logo img {
    width: 160px;
  }

  .cart img {
    width: 62px;
  }

  .navigation li {
    margin: 1rem;
  }

  .navigation li a {
    font-size: 1rem;
  }

  .main-banner {
    background-size: cover,250px 615px,contain;
    height: 550px;
    position: relative;
  }

  .collection-year {
    font-size: 4rem;
  }

  .mens {
    height: 358px;
  }

  .trends {
    height: 358px;
  }

  .glasses {
    height: 358px;
  }

  .sale {
    height: 358px;
  }

  .bags {
    height: 358px;
  }

  .womens {
    height: 358px;

  .main-carousel .carousel-cell {
    width: 25%;
  }

  .form {
    width: 30%;
  }

  .footer .container {
    padding: 0 4rem;
  }
}
